<div class="container">
  <div class="row" style="margin-top: 5px">
    <div class="col-12 d-flex justify-content-center">
      <ng-template #content let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">New Game</h4>
          <button
            type="button"
            class="close"
            aria-label="Close"
            (click)="modal.dismiss('Cross click')"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <app-game-create></app-game-create>
        </div>
        <div class="modal-footer"></div>
      </ng-template>

      <button
        class="btn btn-lg btn-primary text-success btn-block"
        (click)="open(content)"
      >
        <fa-icon [icon]="faPlus"></fa-icon> Game
      </button>
    </div>
  </div>
  <div class="row" style="margin-top: 5px">
    <div class="col-12">
      <div class="row">
        <div *ngFor="let game of games" class="col-4">
          <div class="card text-white bg-primary mb-3" style="max-width: 20rem">
            <div class="card-header">
              <a [routerLink]="['/games/', game.id]">{{ game.name }} </a>
              <small class="badge badge-warning"
                >{{ game.ratingAverage }} / 10</small
              >
            </div>
            <div class="card-body">
              <h4 class="card-title"></h4>
              <p class="card-text">{{ game.description }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
